body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  text-align: center;
  color: #06283D;
  font-size: 1.6rem;

}

@media (max-width: 500px) {
  #body {
    font-size: 1.4rem;
  }
}

ul {
  width: 60%;
  margin: 0 auto 50px;
  text-align: left;
  line-height: 1.5em;
}

li {
  margin: 15px 0;
}

blockquote {
    font-style: italic;
    color: #666;
    margin: 0 auto;
    width: 55%;
    padding: 0 20px;
    text-align: left;
    border-left: 5px solid #06283D;
}


#main {
  margin: 30px 10px;
  padding: 20px;
  background-color: #B6EADA;
}

@media (max-width: 500px) {
  #main {
    margin: 0;
  }
}

#image {
  
  margin: 0 auto;
  display: block;
  max-width: 100%;
  
}

#img-div {
    padding: 20px 40px;
    background-color: white;
    
}

@media (max-width: 500px) {
  #img-div {
    padding: 5px;
  }
}

#img-caption {
  margin: 10 0;
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  #img-caption {
    font-size: 0.5rem;
  }
}

#img-div, #main, #image {
  border-radius: 5px;
}

#headline {
  margin: 50px 0;
}
